.App {
  text-align: center;
}

/* mine */
nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

#navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .navLink {
  float: left;
}

li .navLink:hover {
  background-color: #111;
}

.technology img {
  /* object-fit: contain; */
  max-height: 75px;
  max-width: 75px;
}
